.img img {
/*    
    padding: 10px; */
    width: 100%;
    height: auto;
}
.containers{ 
    padding: 3rem;
    width: 100%;
    background-color: rgb(212, 168, 168);
}
.item-container{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}