@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.cards {
    margin: 0 auto;
    background: rgb(255, 253, 253);
    max-width: 1140px;
}

.button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0 9px rgb(145, 121, 121);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.cards__items CardItem {
    margin-bottom: 30px;
    background-color: rgb(156, 131, 131);
}

.cards__item {
    display: inline-block;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}

.cards__item__link {
    display: flex;
    flex-flow: column;
    padding: 10px;
    width: 100%;
    box-shadow: 0 6px 20px rgb(5, 5, 5);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards__item__pic-wrap {
    position: relative;
    width: 85%;
    padding-top: 100%;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.cards__item__pic-wrap::after {
    content: attr(data-category);
    position: sticky;
    text-transform: uppercase;
    bottom: 0;
    margin-left: 10px;
    padding: 10px 10px;
    max-width: calc((100%) - 60px);
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #c4c4c4;
    box-sizing: border-box;
}

.cards__item__img {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 120%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    padding: 10px;
}

.cards__item__img:hover {
    transform: scale(1.1);
}

h5 {
    color: #ffffff;
}

.cards__item__info {
    padding: 20px 130px 30px;
    text-align: center;
}

.cards__item__text {
    color: #ffffff;
    background: linear-gradient(90deg, rgb(0, 194, 253) 0%, rgb(0, 8, 255) 100%);
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Kanit', sans-serif;
}

.text-card {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-indent: 1.5em;
    text-align: left;
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
}

.text-cards {
    text-align: center;
}