.footer-container {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 100%);
    padding: 4rem 0 2rem 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.footer-subscription-heading {
    margin-bottom: 30px;
    padding: 30px;
    font-size: 14px;
    text-align: left;
    text-indent: 50px;
    font-family: 'Kanit', sans-serif;
    line-height: 1.5;
}

.footer-links {
    max-width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-items span {
    display: grid;
    font-family: 'Kanit', sans-serif;
    margin: 10px;
    font-size: 14px;
    text-align: left;
    width: 50vh;
    box-sizing: border-box;
    line-height: 1.5;
}

.footer-link-items h2 {
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}

.footer-link-items>h2 {
    color: rgb(255, 255, 255);
}

.footer-link-items a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

.footer-input::placeholder {
    color: rgb(255, 255, 255);
}


/* Social Icons */

.social-icon-link {
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.website-rights {
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

.footer-link-items {
    color: white;
}

.map {
    padding: 40px;
}