@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital@1&display=swap');
Video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-img-container {
    max-width: 1140px;
    margin: 0 auto;
}

.img-grid {
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    text-align: center;
    transform: translate(10px, 70px);
}

.img-grid img {
    padding-right: 10px;
    border-radius: 40px;
    transform: translate(-5px, -70px);
}

.hero-container {
    background-color: rgba(0, 17, 255, 0.35);
    /* background: url('/img-v1/MixImg.png') center center/cover no-repeat; */
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.165);
    object-fit: contain;
}

.img-home>h1 {
    margin-top: 40px;
    margin: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0, 0.550);
    font-size: 48px;
    text-align: center;
    ;
    font-family: 'Sarabun', 'Ilim' sans-serif;
}

.img-home>p {
    margin-top: 40px;
    margin: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0, 0.550);
    font-size: 28px;
    text-align: center;
    font-family: 'Sarabun', 'Ilim' sans-serif;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container>h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container>h1 {
        font-size: 50px;
        margin-top: -100px;
    }
    .hero-container>p {
        font-size: 30px;
    }
    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }
}