@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.TopTitle {
    /* background-image: linear-gradient(to bottom right, red, yellow); */
    background: url('/img-v1/fire-2197606_1920.jpg');
    box-shadow: inset 0 0 0 1000px rgba(206, 179, 179, 0.535);
    object-fit: contain;
    height: 98vh;
    width: auto;
    display: grid;
    font-size: 28px;
    grid-template-columns: repeat(2 1fr);
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(255, 123, 0, 0.378);
    object-fit: contain;
    font-weight: bold;
}

.text-title {
    color: rgb(73, 25, 23);
    text-shadow: #ffee00 0.1em 0.1em 0.2em;
    text-decoration: overline;
}

.breadcrumbs {
    padding: 1rem;
    background: rgb(255, 255, 255);
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.text-title {
    font-family: 'Kanit', sans-serif;
    font-size: 80px;
}

@media screen and (max-width: 375px) {
    .text-title {
        font-family: 'Kanit', sans-serif;
        font-size: 28px;
    }
}