.TopTitle {
    background-image: linear-gradient(to bottom right, red, yellow);
    /* background: url('/img-v1/MixImg.png') center center/cover no-repeat; */
    height: 30vh;
    width: auto;
    display: grid;
    font-size: 28px;
    grid-template-columns: repeat(2 1fr);
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.076);
    object-fit: contain;
    font-weight: bold;
    color: white;
}

.breadcrumbs {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.text-title {
    font-family: 'Kanit', sans-serif;
    font-size: 52px;
}