@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

.home,
.services,
.products,
.test,
.sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.services {
    /* background-image: url('/images-notifier/coming-soon.jpg'); */
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.products {
    background-image: url('/images/img-2.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.test {
    background-image: url('/images/img-2.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.sign-up {
    background-image: url('/images-all/system-1-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 280vh;
    width: 100%;
    color: #fff;
    font-size: 100px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.DataContact {
    width: 100%;
    padding: 15px 10px;
}

.Img {
    width: 75% !important;
    height: 450px;
    margin: 30px 100px;
}

.item {
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 30px;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
    margin: 10px;
}

.img img {
    width: 100%;
    height: auto;
    padding: 3px;
    border: 3px solid #F3E3D9;
    background-color: rgb(211, 23, 23);
}

.img .data-img {
    width: 80%;
    height: auto;
    padding: 3px;
    border-radius: 20%;
}

.data-text h3 {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

.data-text p li {
    line-height: 2;
    text-align: left;
    font-size: .8rem;
    list-style-type: upper-roman;
    font-family: 'Kanit', sans-serif;
}

.area {
    background-color: rgb(253, 253, 253);
}

.btn btn-1 {
    color: rgb(255, 255, 255);
}

.btn-1 {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 15px 25px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(28, 22, 22);
    font-family: 'Kanit', sans-serif;
}

.btn-2 {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 15px 25px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #470a63;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #4c3ab8;
    font-family: 'Kanit', sans-serif;
}

.btn-2:hover {
    background-color: #000000
}

.btn-2:active {
    background-color: #f80909;
    box-shadow: 0 5px rgb(0, 191, 255);
    transform: translateY(4px);
}

.btn-1:hover {
    background-color: #ee0202
}

.btn-1:active {
    background-color: #f2ff00;
    box-shadow: 0 5px rgb(39, 60, 67);
    transform: translateY(4px);
    color: black;
    font-family: 'Kanit', sans-serif;
}

.container {
    background-color: rgb(255, 255, 255);
}

.data-text {
    text-align: left;
    text-indent: 10%;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Kanit', sans-serif;
}

.ContainerDemand {
    max-width: 1140px;
    margin: 0 auto;
    background: #001eff;
}

.Demand-first h1 {
    border: double;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(211, 23, 23);
    color: whitesmoke;
    padding: 10px 50px;
}

@media screen and (max-width: 960px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Kanit', sans-serif;
    }
    .text-title {
        font-family: 'Kanit', sans-serif;
        font-size: 28px;
    }
    .item {
        max-width: 375px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 15px;
    }
    .hero-container {
        height: 100vh;
        width: auto;
        display: grid;
        grid-template-columns: repeat(2 1fr);
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.165);
        object-fit: contain;
    }
    .data-text {
        text-align: left;
        text-indent: 10%;
        color: rgb(0, 0, 0);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: 'Kanit', sans-serif;
    }
    .nav-links {
        text-align: center;
        max-width: 1140px;
        display: table;
        background-color: rgb(0, 0, 0);
        padding-right: 100px;
    }
    .Img {
        height: 270px;
        width: 75% !important;
        margin: 30px 50px;
    }
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #f80000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4b0000;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
}