* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-containers {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.containers {
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    margin-top: 50px;
}

.containers span {
    /* background-color: rgb(158, 216, 243); */
    font-weight: bold;
    padding: 0 25%;
    font-size: smaller;
}

.btn-next-page {
    padding-top: 65px;
    padding-bottom: 20px;
}

.data-one {
    color: red;
    text-Indent: 1rem;
    text-decoration: underline;
    font-weight: bold;
    font-family: sans-serif;
    padding: 12px;
    font-size: .9rem;
}

.data-two {
    color: black;
    text-Indent: .2rem;
    font-Size: .5rem;
    padding: 12px;
    font-family: sans-serif;
}

.img {
    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .2s;
    /* width: 200px;
    height: 200px; */
    margin: 0 auto;
}

.btn-btn .btn-btn-2 {
    align-items: center;
    padding: 5px 70px;
    color: white;
    background-color: red;
}

.datanumber {
    color: rgb(122, 83, 83);
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    transform: translate(-100px, 35px);
}

.data-two:hover {
    font-size: .8rem;
    text-align: left;
}

.data-one:hover {
    font-size: .8rem;
    text-align: left;
}


/* .img:hover {
    -ms-transform: scale(9);
    -webkit-transform: scale(8);
    transform: scale(1.2);
} */

@media screen and (max-width: 375px) {
    .item-containers {
        max-width: 1140px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/* .btn-2 btn-2{

} */